[Unit]
Description=Check %i inactive deployment slot drain

[Timer]
OnBootSec=60s
OnUnitInactiveSec=60s
Unit=vps-deploy-drain@%i.service

[Install]
WantedBy=timers.target
